@-webkit-keyframes pulsate {
  0% { opacity: 0.75}
   10% { opacity: .80}
   20% { opacity: .85 }
   30% { opacity: .90 }
   40% { opacity: .95 } 
   50% { opacity: 1.0}
   60% { opacity: .95}
   70% { opacity: .90}
   80% { opacity: .85}
   90% { opacity: .80}
   100% { opacity: 0.75}
  }

  @keyframes pulsate {
    0% { opacity: 0.75}
     10% { opacity: .80}
     20% { opacity: .85 }
     30% { opacity: .90 }
     40% { opacity: .95 } 
     50% { opacity: 1.0}
     60% { opacity: .95}
     70% { opacity: .90}
     80% { opacity: .85}
     90% { opacity: .70}
     100% { opacity: 0.75}
    }

.splashBackgroundImage{
  position:fixed;
  z-index: -1000;
  height:100vh;
  width: 100vw;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  filter: grayscale(1);

}

.splashBackgroundBlack{
  position:fixed;
  background-color: black;
  z-index: -1000;
  height:100vh;
  width: 100vw;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;

}

.splashBackgroundContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 100vh;
  }

  .logoFont{
    height: 20vh;
  }
/* 
  .logoFont:hover{
    transform: scale(1.1); 
    cursor: pointer;
  } */

  .overlay{
    background: rgba(0, 0, 0, 0.75);
    position:fixed;
    z-index: -900;
    height:100vh;
    width: 100vw;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }

  .splashBackgroundMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin-top: -5%;

  }

  .splashSlogan{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0px;
  }

  .demoButton{

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width:15%;
    align-self: center;
    margin-top: 1%;
    color: white;
    border: none;
    background: none;
    background-color: #c0413f;
    border-radius: 5px;
    padding: 6px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-animation-name: pulsate;
    animation-name: pulsate;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }



  .demoButton:hover{
    transform: scale(1.1);
    cursor: pointer;

  }

html, body {margin: 0; height: 100%; overflow: hidden}
