.NavigationBar{
  background-color: white;
  top: 0px;
  left: 0%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unauthNavLinks{
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

#navLogo{
  width: auto;
  height: 40px;
  margin: 15px;
  margin: 15px;
  padding: 10px;

  border-style: solid;
  border-color: #27a9e1;
  /* border-color: grey; */

  /* border-color: Black; */

}

#navLogo:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  transform: scale(1.1); 
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.RightSideNav{
 margin: 15px;
}
