.NavigationBar{
  background-color: white;
  top: 0px;
  left: 0%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unauthNavLinks{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* margin: 10px; */

}

#navLogo{
  width: auto;
  height: 40px;
  margin: 15px;
  padding: 10px;
  padding-right: 1px;
  margin-right: 0px;;

  /* border-style: solid; */
  /* border-color: #27a9e1; */

  /* border-color: Black; */

}


#navLogoText{
  width: auto;
  height: 40px;
  margin: 15px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 0px;

}


#navLogo:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  transform: scale(1.1); 
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.navLinkContainer{
display: flex;
align-items: center;
}

.RightSideNav{
  margin: 65px;
  
}

.navLink{
  margin-left: 5px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0;
  margin-left: 15px;
  font-size: 20px;
  color: black;
  border: none;
  background: none;

}

.userLink{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  border: none;
  background: none;
  background-color: #27A9E1;
  border-radius: 9px;
  padding: 6px;
  margin-right: -5px;

}

.userLink:hover{
  transform: scale(1.1)
}

.navLink:visited{
  text-decoration: none;

}

.navLink:hover{
  color: #27A9E1;
  cursor: pointer;
}
