.NavigationBar{
  background-color: grey;
  top: 0px;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unauthNavLinks{
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

#navLogo{
  width: auto;
  height: 120px;
  margin: 15px;
}

.RightSideNav{
 margin: 15px;
}
