body {
  background-color: var(--primary);
  color: var(--trimmings);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.dark {
  --primary: #1a1a1a;
  --accent: #64B39B;
  --trimmings: white;
  --highlight: #4a4a4a;
  background-color: var(--primary);
  color: var(--trimmings);
  width: inherit;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
  "navbar"
  "main"
  "footer";
  justify-content: inherit;
  align-items: inherit;
}

.light {
  --primary: #EAE1DF;
  --accent: #667761;
  --trimmings: #1a1a1a;
  --highlight: #9b9b9b;
  background-color: var(--primary);
  color: var(--trimmings);
  width: inherit;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
  "navbar"
  "main"
  "footer";
  justify-content: inherit;
  align-items: inherit;
}

.mainBody {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.backBtn {
  align-self: flex-start;
  width: max-content;
  margin-left: 10%;
  position: sticky;
  top: 0;
}

button {
  color: var(--primary)
}

#comment-user {
  cursor: auto;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: grey;
}
