.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255,142,139);
    color: white;
    padding: 0px 30px 0px 30px;
    height: auto;
    overflow: visible;

}

.input {
    background-color: #EAE1DF;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.input:focus {
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
}

.form {
    display: flex;
    align-items: center;
}

.form-button {
    background-color: #27A9E1;
    align-self: center;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    color: white;
}

.form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
