.frontCardDisplay {
  justify-content: center;
  align-items: center;
  inline-size: 100px;
  overflow-wrap: break-word;
}

.deckTitle {
  font-size: 14px;
  text-align: center;

}

.editDeleteButtons {
  position: absolute;
}

.pencil, .trashCard {
  height: 17px;
  padding-left: 5px;
}

.pencil:hover, .trashCard:hover {
  transform: scale(1.1);
}

.pencilBio {
  height: 15px;
  left: 235px;
  margin-bottom: 20px;
  margin-top: -5px;
}

.pencilBio:hover {
  transform: scale(1.1);
}
