
.tagLink{
  text-decoration: none;
  color:black;
<<<<<<< HEAD
  font-size: 13px;
=======
  font-size: 16px;
>>>>>>> main
  margin-right: 1px;
  padding-left: 15px;
}

.tagLink:hover{
  transform: scale(1.1);
}

.tagLink:visited{
  color: black;


}.tagDelete{
height: 12px;
margin-right: 5px;
}

.tagDelete:hover{
  transform: scale(1.1)

}

.tag-div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

}
