

.homePageContainer{
  display: flex;
  flex-direction: row;
  height: 79.5vh;


  /* justify-content: space-between; */

}
.user{
  margin: 25px;
  margin-top: 7%;
  width: 20%;
  height: 60%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.userName{
  /* margin-left: 5px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
  /* background-color: #27A9E1; */
  /* padding: 6px; */
  display: inline-block;

}






.bio{
  color: Black;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;


}

.Decks{
  margin: 25px;
  margin-left: 0px;
  width: 40%;
  /* border: solid; */
  /* border-color: #27A9E1; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
   box-shadow: 0 10px 6px -6px #777;
   */
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* .Decks:before, .Decks:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.Decks:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
} */

.addDeckButtonContainer {
  /* position: absolute;   */
  /* margin: -10px; */
  display: flex;
  align-items: center;
  height: 10%;
  /* margin: -5%; */
}

.addDeckButton{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  border: none;
  background: none;
  background-color: #fcb4ae;
  border-radius: 5px;
  padding: 6px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.addDeckButton:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.decksTitleContainer{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 20%;
    /* margin: 25px; */
  
  
}
.myDecksTitle{
  color: black;
  font-family: Arial, Helvetica, sans-serif;

}

.decksDisplay{
  /* border: solid; */
  border-color: black;
  background-color: #27A9E1;
  /* margin: 9%; */
  border: 8px solid;
  border-color: #25a1d6;
  /* border-radius: 5px; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  

  width: 80%;
  height: 70%;
  
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */

  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.decksDisplay::-webkit-scrollbar {
  width: 11px;
}
.decksDisplay::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.decksDisplay::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.studyList{
  margin: 25px;
  margin-left: 0px;
  width: 40%;
  /* border: solid; */
  /* border-color: #27A9E1; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
   box-shadow: 0 10px 6px -6px #777;
   */
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* .studyList:before, .studyList:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.studyList:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
} */

.studyListTitleContainer{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  height: 20%;
  /* margin: 25px; */


}

.myStudyListTitle{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.studyListDisplay{
  /* border: solid; */
  border-color: black;
  background-color: #27A9E1;
  border: 8px solid;
  border-color: #25a1d6;
  margin-bottom: 10%;
  width: 80%;
  height: 70%;
  
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
