

.homePageContainer{
  display: flex;
  flex-direction: row;
  height: 79.5vh;
}

.user{
  margin: 25px;
  margin-top: 7%;
  width: 20%;
  height: 60%;
  background-color: white;
  border-radius: 5px;
  padding: 25px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;


  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.userName{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
  display: inline-block;
}






.bio{
  max-width:190px;
  overflow-wrap: break-word;
  max-height: 80px;
  overflow: hidden;
  color: white;
  font-weight: bold;
  background-color: #27a9e1;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


}

.bio:hover{
  cursor: pointer;
  transform: scale(1.1)
}

.Decks{
  margin: 25px;
  margin-left: 0px;
  width: 40%;
  border-radius: 5px;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.addDeckButtonContainer {
  display: flex;
  align-items: center;
  height: 10%;
}

.addDeckButton{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  border: none;
  background: none;
  background-color: #403b35;
  border-radius: 5px;
  padding: 6px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.addDeckButton:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.decksTitleContainer{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 20%;
}

.myDecksTitle{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.decksDisplay{
  border-color: black;
  background-color: #27A9E1;
  border-radius: 5px;
  border: 8px solid;
  border-color: #25a1d6;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);

  width: 80%;
  height: 70%;
  display: flex;

  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.decksDisplay::-webkit-scrollbar {
  width: 11px;
}
.decksDisplay::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.decksDisplay::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.studyList{
  margin: 25px;
  margin-left: 0px;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.studyListTitleContainer{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  height: 20%;
}

.myStudyListTitle{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.studyListDisplay{
  border-color: black;
  background-color: #27A9E1;
  border: 8px solid;
  border-color: #25a1d6;
  margin-bottom: 10%;
  width: 80%;
  height: 70%;

  display: flex;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.avatar{
  height: 150px;
  margin-bottom: 10px;
  border: solid 2px;
  border-radius: 50%;

}
